backend/.env
backend/backend/__pycache__
backend/students/__pycache__/
backend/accounts/__pycache__/
backend/colleges/__pycache__/
backend/accounts/migrations/__pycache__/
backend/colleges/migrations/__pycache__/
backend/students/migrations/__pycache__/
backend/university/__pycache__/