.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* LOGIN FORM */

.form-group{
  text-align: center;
  margin: 2rem;
  align-items: center;
}

.btn-warning{
  text-align: center;
  margin: 2rem;
  align-items: center;
}

.note {
  color: rgb(82, 82, 82);
  margin: 8px 0;
}

input.active:valid {
  box-shadow: 0 0 3px 1px rgb(84, 189, 84);
}

input.active:invalid {
  box-shadow: 0 0 3px 1px rgb(255, 63, 63);
}

.error {
  color: rgb(255, 63, 63);
  font-size: 12px;
  margin-top: 5px;
}

